# ignore model/data files
*.pkl

# python cache
__pycache__/

# uploaded files
uploads/

# environment files
.env

# optional (if dataset is big)
fashion-dataset/

echo embeddings.pkl >> .gitignore
echo filenames.pkl >> .gitignore
git add .gitignore
git commit -m "Ignore large pkl files"
git push -u origin main --force